@model IEnumerable<SafaGames.Models.Devices>

@{
    ViewBag.Title = "لیست کنسول ها";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <table>
                <tr>
                    <td>
                        <h1>
                            @item.Title
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.DeviceID }) |
                        @Html.ActionLink("نمایش", "Details", new { id = item.DeviceID }) |
                        @Html.ActionLink("حذف", "Delete", new { id = item.DeviceID })
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
