@model IEnumerable<SafaGames.Models.Blogs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgpic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgpic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
