@model SafaGames.Models.Countrys

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Countrys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgpic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgpic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
